*{font-family: sans-serif;}

body{margin:50px;background-image: linear-gradient(darkmagenta,darkmagenta,purple,rgb(153, 9, 153),rgb(170, 11, 96) ); width:90vw;height:150vh;}

.m1{display:block;padding:8px;}

.m2{display:block;padding:8px;}

h1{text-align:center; color: mistyrose;}

form{padding-left:450px;text-align:left;}

legend{text-align: center; font-size:24px; color: rgb(0, 0, 0);}

fieldset{border-radius:40px; background-image: linear-gradient(#2abe13,#119d11,#2c853c,#136c20);width:320px; border: 7px solid black;}

button{background-color:mistyrose;border-radius:8px;cursor: pointer;}

.b1{display:block;}